body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    padding-top: 80px;
}

span{
    user-select: none;
}

.title-container{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 800px;
    margin-bottom: 150px;
    font-size: 50px;
}

.japanese{
    position: absolute;
    transition: 0.3s;
}

.english{
    position: absolute;
    opacity: 0;
    transition: 0.3s;
    transform: translateY(-50px);
}

h1:hover .english{
    transform: translateY(15px);
    opacity: 1;
}

h1:hover .japanese{
    opacity: 0;
    transform: translateY(30px);
}

.player-choice, .computer-choice{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 40px;
}

.player-rock-container, 
.player-paper-container,
.player-scissors-container,
.computer-rock-container,
.computer-paper-container,
.computer-scissors-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.player-img-rock, 
.player-img-paper, 
.computer-img-rock, 
.computer-img-paper{
    height: 100px;
    opacity: 0;
}

.player-img-scissors, 
.computer-img-scissors{
    height: 70px;
    opacity: 0;
}

.player-span-rock,
.player-span-paper,
.player-span-scissors,
.computer-span-rock,
.computer-span-paper,
.computer-span-scissors{
    transition: 0.4s;
}

.player-img-rock,
.player-img-paper,
.player-img-scissors,
.computer-img-rock,
.computer-img-paper,
.computer-img-scissors{
    transform: translateX(-60px);
    position: absolute;
    transition: 0.4s;
}

.computer-span-rock,
.computer-span-paper,
.computer-span-scissors{
    color: red;
}

.player-rock-container:hover .player-span-rock,
.player-paper-container:hover .player-span-paper,
.player-scissors-container:hover .player-span-scissors{
    opacity: 0;
    transform: translateX(80px);
}

.player-rock-container:hover .player-img-rock,
.player-paper-container:hover .player-img-paper,
.player-scissors-container:hover .player-img-scissors{
    opacity: 1;
    transform: translateX(0);
}

.button-clickable{
    cursor: pointer;
}

.button-clickable:active .player-img-rock,
.button-clickable:active .player-img-paper,
.button-clickable:active .player-img-scissors{
    transition: 0.1s;
    transform: translateY(10px);
}

.computer-span-rock-animate,
.computer-span-paper-animate,
.computer-span-scissors-animate{
    opacity: 0;
    transform: translateX(80px);
}

.computer-img-rock-animate,
.computer-img-paper-animate,
.computer-img-scissors-animate{
    opacity: 1;
    transform: translateX(0px);
}

.results{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 125px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

.score{
    display: flex;
    justify-content: center;   
    align-items: center;
    gap: 30px;
    margin-bottom: 40px;
}

.score-separation{
    transform: translateY(-4px);
}

.computer-score{
    color: red;
}

.game-count, .round-result, .game-result{
    font-size: 23px;
}

.game-finished{
    color: red;
}

